name: Basic Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  runner-job:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3

      - name: "Setup Python"
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'

      - name: "Install Dependencies"
        run: pip install -r requirements.txt

      - name: "Run static analysis"
        run: python manage.py check types

      - name: "Run tests"
        run: |
          echo "${{ secrets.ENV_TEST_FILE }}" > .env.test
          python manage.py check tests test

      - name: "Run style analysis"
        run: python manage.py check style

      - name: "Run migration tests"
        run: |
          echo "${{ secrets.ENV_TEST_FILE }}" > .env.test
          python manage.py db migrate test